* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Inter", "Roboto", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.light-mode .divider {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-mode .divider {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Light Mode */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}
